In [2]:
from turtle import mode
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("emdat_disasters.csv", encoding="utf-8")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15784 entries, 0 to 15783
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     15784 non-null  object
 1   Historic                                   15784 non-null  object
 2   Classification Key                         15784 non-null  object
 3   Disaster Group                             15784 non-null  object
 4   Disaster Subgroup                          15784 non-null  object
 5   Disaster Type                              15784 non-null  object
 6   Disaster Subtype                           15784 non-null  object
 7   External IDs                               2405 non-null   object
 8   Event Name                                 4955 non-null   object
 9   ISO                                        15784 non-null  object
 10  Country                                    15784 non-null  object
 11  Subregion                                  15784 non-null  object
 12  Region                                     15784 non-null  object
 13  Location                                   15136 non-null  object
 14  Origin                                     3955 non-null   object
 15  Associated Types                           3296 non-null   object
 16  OFDA/BHA Response                          15784 non-null  object
 17  Appeal                                     15784 non-null  object
 18  Declaration                                15784 non-null  object
 19  AID Contribution ('000 US$)                490 non-null    float64
 20  Magnitude                                  3378 non-null   float64
 21  Magnitude Scale                            9892 non-null   object
 22  Latitude                                   1815 non-null   float64
 23  Longitude                                  1815 non-null   float64
 24  River Basin                                1212 non-null   object
 25  Start Year                                 15784 non-null  int64
 26  Start Month                                15715 non-null  float64
 27  Start Day                                  14275 non-null  float64
 28  End Year                                   15784 non-null  int64
 29  End Month                                  15622 non-null  float64
 30  End Day                                    14342 non-null  float64
 31  Total Deaths                               12655 non-null  float64
 32  No. Injured                                5790 non-null   float64
 33  No. Affected                               7172 non-null   float64
 34  No. Homeless                               1324 non-null   float64
 35  Total Affected                             11682 non-null  float64
 36  Reconstruction Costs ('000 US$)            33 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  33 non-null     float64
 38  Insured Damage ('000 US$)                  695 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        694 non-null    float64
 40  Total Damage ('000 US$)                    3126 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          3111 non-null   float64
 42  CPI                                        15621 non-null  float64
 43  Admin Units                                8498 non-null   object
 44  Entry Date                                 15784 non-null  object
 45  Last Update                                15784 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 5.5+ MB

In [1]:
def removeColumns(df):
    return df.drop(columns=['Historic', 
                            'Classification Key', 
                            'ISO', 
                            'External IDs', 
                            'Entry Date', 
                            'Last Update', 
                            'Admin Units',
                            'Disaster Subtype',
                            'Origin',
                            'River Basin',
                            'Location',
                            'End Year',
                            'End Month',
                            'End Day',
                            'OFDA/BHA Response',
                            'Appeal',
                            'Declaration',
                            'CPI',
                            'Reconstruction Costs (\'000 US$)',
                            'Reconstruction Costs, Adjusted (\'000 US$)',
                            ], axis=1)
df = df.pipe(removeColumns)

# save the DataFrame to a new CSV file
df.to_csv('emdat_disasters_cleaned.csv', index=False, mode='w', encoding='utf-8')

df

,DisNo.,Disaster Group,Disaster Subgroup,Disaster Type,Event Name,Country,Subregion,Region,Associated Types,AID Contribution ('000 US$),...,Start Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)"
0,1999-9388-DJI,Natural,Climatological,Drought,NaN,Djibouti,Sub-Saharan Africa,Africa,NaN,1556.0,...,NaN,NaN,NaN,100000.0,NaN,100000.0,NaN,NaN,NaN,NaN
1,1999-9388-SDN,Natural,Climatological,Drought,NaN,Sudan,Northern Africa,Africa,Food shortage|Water shortage,NaN,...,NaN,NaN,NaN,2000000.0,NaN,2000000.0,NaN,NaN,NaN,NaN
2,1999-9388-SOM,Natural,Climatological,Drought,NaN,Somalia,Sub-Saharan Africa,Africa,Food shortage,NaN,...,NaN,21.0,NaN,1200000.0,NaN,1200000.0,NaN,NaN,NaN,NaN
3,2000-0001-AGO,Technological,Transport,Road,NaN,Angola,Sub-Saharan Africa,Africa,NaN,NaN,...,26.0,14.0,11.0,NaN,NaN,11.0,NaN,NaN,NaN,NaN
4,2000-0002-AGO,Natural,Hydrological,Flood,NaN,Angola,Sub-Saharan Africa,Africa,NaN,NaN,...,8.0,31.0,NaN,70000.0,NaN,70000.0,NaN,NaN,10000.0,17695.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15779,2024-9075-COL,Natural,Climatological,Drought,NaN,Colombia,Latin America and the Caribbean,Americas,Heat wave|Wildfire,NaN,...,NaN,NaN,NaN,47597.0,NaN,47597.0,NaN,NaN,NaN,NaN
15780,2024-9131-ZMB,Natural,Climatological,Drought,NaN,Zambia,Sub-Saharan Africa,Africa,Food shortage,NaN,...,NaN,NaN,NaN,5000000.0,NaN,5000000.0,NaN,NaN,NaN,NaN
15781,2024-9135-MHL,Natural,Climatological,Drought,NaN,Marshall Islands,Micronesia,Oceania,NaN,NaN,...,NaN,NaN,NaN,13924.0,NaN,13924.0,NaN,NaN,NaN,NaN
15782,2024-9197-MWI,Natural,Climatological,Drought,NaN,Malawi,Sub-Saharan Africa,Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15783,2024-9197-ZWE,Natural,Climatological,Drought,NaN,Zimbabwe,Sub-Saharan Africa,Africa,Food shortage|Water shortage,NaN,...,NaN,NaN,NaN,7600000.0,NaN,7600000.0,NaN,NaN,NaN,NaN

# Todo

<input disabled="" type="checkbox"> Check outliers

<input disabled="" type="checkbox"> Check unknown chars in encoding

<input disabled="" type="checkbox"> Fill the columns 'Adjusted' when the value is not null

<input disabled="" type="checkbox"> Check for other columns to remove